.page {
	BORDER-RIGHT: #919b9c 1px solid; BORDER-LEFT: #919b9c 1px solid; BORDER-BOTTOM: #919b9c 1px solid; BACKGROUND-COLOR: #fcfcfd
}
.box {
	BORDER-RIGHT: #919b9c 1px solid; BORDER-TOP: #919b9c 1px solid; FONT-SIZE: 11px; FILTER: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=113,strength=4); BORDER-LEFT: #919b9c 1px solid; COLOR: #333333; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #919b9c 1px solid; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #fcfcfd
}
.InnerTableHeader {
	BORDER-RIGHT: #919b9c 0px solid; BORDER-TOP: #919b9c 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #919b9c 0px solid; COLOR: #ffffff; BORDER-BOTTOM: #919b9c 0px solid; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #4f8eb6
}
.alignright {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: black 1px solid; PADDING-LEFT: 15px; FLOAT: right; PADDING-BOTTOM: 15px; MARGIN: 0px 0px 15px 20px; BORDER-LEFT: black 1px solid; WIDTH: 120px; PADDING-TOP: 15px; BORDER-BOTTOM: black 1px solid; TEXT-ALIGN: center
}
.btn {
	FONT-SIZE: 11px; FONT-STYLE: normal; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A.menuLink {
	FONT-SIZE: 11px; COLOR: #5e4200; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A.menuLink2 {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 11px; COLOR: #0582ff; FONT-FAMILY: Tahoma; TEXT-DECORATION: underline
}
.topString {
	FONT-SIZE: 10px; COLOR: #dcc451; FONT-FAMILY: Tahoma
}
.tabPage {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Tahoma
}
.copyright {
	FONT-SIZE: 11px; COLOR: #444444; FONT-FAMILY: Tahoma
}
.txtbox {
	BORDER-RIGHT: #00659f 1px solid; BORDER-TOP: #00659f 1px solid; BORDER-LEFT: #00659f 1px solid; BORDER-BOTTOM: #00659f 1px solid
}
.btnflat {
	BORDER-RIGHT: #00659f 1px solid; BORDER-TOP: #00659f 1px solid; BORDER-LEFT: #00659f 1px solid; BORDER-BOTTOM: #00659f 1px solid
}
.btn {
	FONT-SIZE: 8pt; BACKGROUND: #f4e9f7; COLOR: #000000; FONT-FAMILY: verdana,arial,sans-serif; HEIGHT: 20px
}
.style7 {
	FONT-SIZE: xx-small
}
.astabbg {
	BACKGROUND-IMAGE: url(/s2v1/images/header/tabbg.gif); BACKGROUND-REPEAT: repeat-x
}
A.link1s:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: none
}
.link1s {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: none
}
A.linksp:hover {
	FONT-SIZE: 7pt; COLOR: #ed5700; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: none
}
.linksp {
	FONT-SIZE: 7pt; COLOR: #0000ff; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: none
}
A.linksp1:hover {
	FONT-SIZE: 7pt; COLOR: #efefef; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: none
}
.linksp1 {
	FONT-SIZE: 7pt; COLOR: #cccccc; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: none
}
A.linkmenu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 7.7pt; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: none
}
.linkmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 7.7pt; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: none
}
A.link2s:hover {
	FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: none
}
.link2s {
	FONT-SIZE: 8pt; COLOR: #00154e; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: none
}
.asfontsp {
	FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: verdana,arial,sans-serif
}
.asfontgr {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #cccccc; FONT-FAMILY: verdana,arial,sans-serif
}
.asfont1s {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: verdana,arial,sans-serif
}
.asfontrs {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: verdana,arial,sans-serif
}
.asfontorange {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #f63a10; FONT-FAMILY: verdana,arial,sans-serif
}
.asfontblue {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: verdana,arial,sans-serif
}
.asfontws {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: verdana,arial,sans-serif
}
.dropdown {
	FONT-SIZE: 8pt; WIDTH: 130px; COLOR: #000000; FONT-FAMILY: verdana,arial,sans-serif
}
.bgmenu {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; BORDER-LEFT: #c3c3c3 1px solid; BORDER-BOTTOM: #c3c3c3 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #f36f21
}
.bgPmenu {
	BORDER-RIGHT: #c3c3c3 5px solid; BORDER-TOP: #c3c3c3 5px solid; BORDER-LEFT: #c3c3c3 5px solid; BORDER-BOTTOM: #c3c3c3 5px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.bgblue {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: verdana; BACKGROUND-COLOR: #0f1f43
}
.resultheader {
	BACKGROUND-IMAGE: url(/s2v1/images/common/resultbg.gif); BACKGROUND-REPEAT: repeat-x
}
.tabbg {
	BACKGROUND-IMAGE: url(/s2v1/images/header/tabbg.gif); BACKGROUND-REPEAT: repeat-x
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.inputSiteSearch {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #c3c3c3 1px solid; WIDTH: 111px; COLOR: #003399; BORDER-BOTTOM: #c3c3c3 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 16px
}
.headerBG {
	FONT-SIZE: 10px; BACKGROUND-IMAGE: url(/s2v1/images/headerBg.jpg); BORDER-BOTTOM: #c3c3c3 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #46a7ff
}
.topHomeMenu {
	FONT-SIZE: 10px; BACKGROUND-IMAGE: url(/s2v1/images/topMenuBg.jpg); BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.globeBG {
	BACKGROUND-POSITION: left 50%; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(/s2v1/images/tophydbg.jpg); BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.globeBG1 {
	BACKGROUND-POSITION: left 50%; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(/s2v1/images/t_Bg.jpg); BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.leftPanel {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; WIDTH: 200px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.rightPanel {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; WIDTH: 193px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.panelHeader {
	BORDER-RIGHT: #c3c3c3 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(/s2v1/images/titleBg.jpg); BORDER-LEFT: #c3c3c3 1px solid; BORDER-BOTTOM: #c3c3c3 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 24px
}
.panelContent {
	BORDER-RIGHT: #c3c3c3 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #c3c3c3 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f3f8fc
}
.panelContent1 {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #c3c3c3 1px solid; COLOR: #f63a10; BORDER-BOTTOM: #c3c3c3 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f3f8fc
}
.panelContent2 {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #c3c3c3 1px solid; BORDER-BOTTOM: #c3c3c3 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f3f8fc
}
.panelFooter {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px dashed; FONT-SIZE: 10px; BORDER-LEFT: #c3c3c3 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: #f3f8fc
}
.input {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #c3c3c3 1px solid; COLOR: #000000; BORDER-BOTTOM: #c3c3c3 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.inputCommon {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #c3c3c3 1px solid; WIDTH: 95%; COLOR: #000000; BORDER-BOTTOM: #c3c3c3 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 16px
}
.textOrange {
	FONT-SIZE: 11px; COLOR: #f37021; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newsText {
	BORDER-RIGHT: #c3c3c3 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #c3c3c3 1px solid; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tabOn {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/s2v1/images/tab_onBg.jpg); WIDTH: 110px; CURSOR: default; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tabOff {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/s2v1/images/tab_offBg.jpg); BORDER-LEFT: #c3c3c3 1px solid; WIDTH: 110px; CURSOR: pointer; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tabMain {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/s2v1/images/tab_btnbg.jpg); CURSOR: default; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.copyright {
	FONT-SIZE: 10px; BACKGROUND-IMAGE: url(/s2v1/images/footerBg.jpg); COLOR: #000000; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 28px
}
.ofoterTD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; COLOR: #000000; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.normalText {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.panelText {
	BORDER-RIGHT: #f37021 1px solid; BORDER-TOP: #f37021 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #f37021 1px solid; COLOR: #000000; BORDER-BOTTOM: #f37021 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 150px; BACKGROUND-COLOR: #e2f1ff
}
.inputRegister {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #c3c3c3 1px solid; WIDTH: 14px; COLOR: #000000; BORDER-BOTTOM: #c3c3c3 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.linksLogin {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksLogin:visited {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksLogin:hover {
	FONT-SIZE: 10px; COLOR: #d8510a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksTopMenu {
	PADDING-LEFT: 3px; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksTopMenu:visited {
	PADDING-LEFT: 3px; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksTopMenu:hover {
	PADDING-LEFT: 3px; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linksFooter {
	FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.linksFooter:visited {
	FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.linksFooter:hover {
	FONT-SIZE: 10px; COLOR: #d8510a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.astext {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
table {
	BACKGROUND-COLOR: #bbe9ff
}
.bggrey {
	BACKGROUND-COLOR: #efefef
}
.bggreen {
	BACKGROUND-COLOR: #f8fff0
}
.tdhydbg {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/s2v1/images/rbox/asboxbg.gif); BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 28px
}
